//
// Colors
//
$color-primary: #a729f5;
$color-correct: #26d782;
$color-invalid: #ee5454;

$color-neutral-100: #fff;
$color-neutral-200: #f4f6fa;
$color-neutral-400: #abc1e1;
$color-neutral-500: #8fa0c1;
$color-neutral-600: #626c7f;
$color-neutral-800: #3b4d66;
$color-neutral-900: #313e51;

$color-html: #fff1e9;
$color-css: #e0fdef;
$color-js: #ebf0ff;
$color-a11y: #f6e7ff;

//
// Typography
//
$ff-primary: 'Rubik', sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fs-body-sm: 2rem;
$fs-body-md: 1.8rem;
$fs-heading-xl: 8.8rem;
$fs-heading-lg: 6.4rem;
$fs-heading-md: 3.6rem;
$fs-heading-sm: 2.8rem;


// $fs-body-sm: 1.4rem;
// $fs-heading-lg: 4rem;
// $fs-heading-md: 2rem;
// $fs-heading-sm: 1.8rem;

//
// Breakpoints
//
$breakpoints: (
    'medium': (max-width: 64em),
    'small': (max-width: 37.5em),
);

:root {
    --background-color-1: #{$color-neutral-200};
    --background-color-2: #{$color-neutral-100};
    --text-color-1: #{$color-neutral-600};
    --heading-color-1: #{$color-neutral-900};
}
