//
// Colors
//
$color-primary: #a729f5;
$color-correct: #26d782;
$color-invalid: #ee5454;

$color-neutral-100: #fff;
$color-neutral-200: #f4f6fa;
$color-neutral-400: #abc1e1;
$color-neutral-600: #626c7f;
$color-neutral-800: #3b4d66;
$color-neutral-900: #313e51;

$background-color-light: $color-neutral-200;
$background-color-light-2: $color-neutral-100;
$text-color-light: $color-neutral-600;
$heading-color-light: $color-neutral-900;

$background-color-dark: $color-neutral-900;
$background-color-dark-2: $color-neutral-800;
$text-color-dark: $color-neutral-400;
$heading-color-dark: $color-neutral-100;

//
// Typography
//
$ff-primary: 'Rubik', sans-serif;
$fw-regular: 400;
$fs-body-sm: 1.4rem;
$fs-body-md: 1.8rem;
$fs-heading-lg: 4rem;
$fs-heading-md: 2rem;
$fs-heading-sm: 1.8rem;
