//
// Colors
//
$color-primary: #a729f5;
$color-correct: #26d782;
$color-invalid: #ee5454;

$color-neutral-100: #fff;
$color-neutral-200: #f4f6fa;
$color-neutral-400: #abc1e1;
$color-neutral-600: #626c7f;
$color-neutral-800: #3b4d66;
$color-neutral-900: #313e51;

//
// Typography
//
$ff-primary: 'Rubik', sans-serif;
$fw-regular: 400;

:root {
    --fs-body: 1.2rem;
}
